[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
streamlit = "*"
watchdog = "*"
black = "*"
pandas = "*"
pipreqs = "*"
cohere = "*"
streamlit-lottie = "*"
requests = "*"
charset-normalizer = "*"
matplotlib = "*"
plotly = "*"
plotly-express = "*"
decouple = "*"

[dev-packages]

[requires]
python_version = "3.10"
